#div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
}
body {
    height: 100vh;
    background: linear-gradient(50deg, rgb(10, 192, 40), rgb(163, 9, 9));
}
input {
    cursor: pointer;
    border-radius: 8px;
    background-color: transparent;
}
button {
    background-color: rgba(46, 46, 46, 0);
    cursor: pointer;
    border-radius: 8px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#dificults {
    display: flex;
    flex-direction: column;
    gap: 15px;
}